<?xml version="1.0" encoding="UTF-8"?>

<suite name="Uttoron Suite">

<listeners>
        <listener class-name="uttoronPageclasses.UttoronTestListener"/>
    </listeners>


    <test name="Uttoron Test Classes" thread-count="5">
        <classes>
            
            <class name="uttoronTestClasses.UttoronLoginPageTest"/>
             <class name="uttoronTestClasses.UttoronSponsorship_Permissible_Quantity"/>
            
        </classes>
    </test>
</suite>